/* static/css/trackingApp/login.css */

.main-content {
    margin: 20px;
}

.main-content h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

form {
    width: 100%;
}

form input[type="text"],
form textarea {
    width: 50vh;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

form button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button[type="submit"]:hover {
    background-color: #0056b3;
}