<!-- templates/trackingApp/task_detail.html -->
{% extends 'trackingApp/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/trackingApp/task_detail.css' %}">
{% endblock %}

{% block content %}
<body>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{ task.title }}</h5>
          <p class="card-text">{{ task.description }}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{ task.get_status_display }}</li>
          <li class="list-group-item">{{ task.get_priority_display }}</li>
          <li class="list-group-item">{{ task.created_at }}</li>
          <li class="list-group-item">{{ task.due_date }}</li>
          <li class="list-group-item">{{ task.creator.username }}</li>
        </ul>
        <div class="card-body">
          <a href="{% url 'task_update' task.pk %}" class="card-link bi bi-pen" >Edit</a>
          <a href="{% url 'task_delete' task.pk %}" class="card-link bi bi-file-earmark-x">Delete</a>
        </div>
      </div>    
    
  

    <h2 class = "my-5">Comments:</h2>
    
    <!-- Додавання коментарів -->
    <form method="post" action="{% url 'add_comment' pk=task.pk %}">
      {% csrf_token %}
      <textarea name="text" class="form-control mb-2" placeholder="Add a comment"></textarea>
      <button type="submit" class="btn btn-primary">Publish Comment</button>
    </form>

    {% for comment in task.comments.all %}
    <div class="card mb-4" style="width: 18rem;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{ comment.user.username }}</li>
          <li class="list-group-item">{{ comment.text }}</li>
        </ul>
        <div class="card-footer">
            <li class="list-group-item">{{ comment.created_at }}</li>
        </div>
    </div>
    {% endfor %}
</body>

{% endblock %}