<!-- templates/trackingApp/task_detail.html -->
{% extends 'trackingApp/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/trackingApp/task_detail.css' %}">
{% endblock %}

{% block content %}
<body>
    <h1>Task Detail</h1>
    <h2>{{ task.title }}</h2>
    <p><strong>Description:</strong> {{ task.description }}</p>
    <p><strong>Status:</strong> {{ task.get_status_display }}</p>
    <p><strong>Priority:</strong> {{ task.get_priority_display }}</p>
    <p><strong>Created At:</strong> {{ task.created_at }}</p>
    <p><strong>Due Date:</strong> {{ task.due_date }}</p>
    <p><strong>Creator:</strong> {{ task.creator.username }}</p>

    <h2>Comments:</h2>
    <ul>
        {% for comment in task.comments.all %}
            <li>
                <p><strong>By:</strong> {{ comment.user.username }}</p>
                <p><strong>Comment:</strong> {{ comment.text }}</p>
                <p><strong>Created At:</strong> {{ comment.created_at }}</p>
            </li>
        {% endfor %}
    </ul>
</body>

{% endblock %}